.header {
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-bar{
    font-size: 20px;
}

.left-section {
    display: flex;
    align-items: center;
    flex-direction: row;

}

.middle-section {
    background-color: lightpink;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 400px;
    display: flex;
    align-items: center;
}

.right-section {
    background-color: lightblue;
    width: 200px;
}

.hamburger-menu {
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.youtube-logo {
    height: 20px;
}

.search-button {
    height: 40px;
    width: 60px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
}