.thumbnail {
  width: 100%;
  margin-bottom: 8px;
}

.video-preview:hover {
  transition: background-color 0.15s;
  background-color: rgb(235, 235, 235);
}

.thumbnail-row {
  position: relative;
}


.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}


.video-tittle {
  margin-top: 0;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 12px;
}

.video-auther,
.video-stats {
  color: rgb(96, 96, 96);
  font-size: 12px;
}

.video-auther {
  margin-bottom: 4px;
}

.channel-picture {
  width: 40px;
  vertical-align: top;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 5px;
  cursor: pointer;
}



.profile-pic {
  width: 100%;
  border-radius: 100%;
}


.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
  padding-top: 80px;
  padding-left: 80px;
  padding-bottom: 20px;;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  color: white;
  background-color: black;
  position: absolute;
  right: 5px;
  bottom: 16px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}
