.thumbnail {
  width: 100%;
  margin-bottom: 8px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
.search-bar{
  font-size: 20px;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}


.video-tittle {
  margin-top: 0;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 12px;
}

.video-auther,
.video-stats {
  color: rgb(96, 96, 96);
  font-size: 12px;
}

.video-auther {
  margin-bottom: 4px;
}

.channel-picture {
  width: 40px;
  vertical-align: top;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.channel-text {
  font-family: Roboto, Arial;
}

.profile-pic {
  width: 100%;
  border-radius: 100%;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}
